<div class="tab-wrap">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="eanable-reason-tab" (click)="changeTab(1)" data-toggle="tab" href="#enableReasonCode" role="tab" aria-controls="addReasonCode"
        aria-selected="true">Eanable Reason</a>
    </li>
    <li class="nav-item" (click)="changeTab(2)">
      <a class="nav-link" id="add-reason-tab" data-toggle="tab" href="#addReasonCode" role="tab" aria-controls="addReasonCode"
        aria-selected="false">Add Reason</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="add-reason-tab" (click)="changeTab(3)" data-toggle="tab" href="#addPlant" role="tab" aria-controls="addPlant"
        aria-selected="false">Add Plant</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="add-reason-tab" (click)="changeTab(4)" data-toggle="tab" href="#enablePlant" role="tab" aria-controls="enablePlant"
        aria-selected="false">Enable Plant</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="enableReasonCode" role="tabpanel" aria-labelledby="eanable-reason-tab">
      <p *ngIf="EnableSucces" class="alert alert-success" role="alert">Selected reason names are updated successfully!</p>
      <p *ngIf="ResonSelect" class="alert alert-danger" style="width: 100%;">Select a reason</p>
      <select class="form-control" (change)="selectMetricName($event)">
        <option>Please select...</option>
        <option *ngFor="let re of FilterValue" [value]="re">{{re}}</option>
      </select>
      <div class="row" style="position: relative;">
        <p *ngIf="ReasonCodeList !=''" class="text-right col-md-12 save-icon">
          <i class="fa fa-save pointer" title="save" (click)="enableReasonSave()"></i>
        </p>
        <div *ngIf="ReasonCodeList != ''" class="col-md-12 top-padding-20 table-container table-responsive" style="margin-bottom:50px;">
            <table id="missedOrders" class="table table-striped table-sm hover" datatable [dtOptions]="dtOptions">
                <thead>
                    <tr>
                        <th width="90%">Reason code</th>
                        <th width="10%">Enable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dat of ReasonCodeList; let i = index">
                        <td>{{dat.reasonCode}}</td>
                        <td>
                          <div class="custom-control custom-checkbox" *ngIf="dat.flag == 1">
                            <input type="checkbox" checked="true" class="custom-control-input" id="check{{i}}" (change)="enableReason($event, i, dat)">
                            <label class="custom-control-label" for="check{{i}}"></label>
                          </div>
                          <div class="custom-control custom-checkbox" *ngIf="dat.flag == 0">
                            <input type="checkbox" class="custom-control-input" id="check{{i}}" (change)="enableReason($event, i, dat)">
                            <label class="custom-control-label" for="check{{i}}"></label>
                          </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="ReasonCodeList == ''" class="col-md-12 top-padding-20 table-container table-responsive" style="margin-bottom:50px;">
            <table class="table table-striped table-sm hover">
                <thead>
                    <tr>
                      <th width="90%">Reason code</th>
                      <th width="10%">Enable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2" class="no-data"><i class="fa fa-cloud"></i> <br /> No data available</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="addReasonCode" role="tabpanel" aria-labelledby="add-reason-tab">
      <p *ngIf="MetricSelect" class="alert alert-danger" style="width: 100%;">Please select a metric Name!</p>
      <label>Add New Reason</label>
      <textarea [ngClass]="{'error': ReasonTextErrBol}" class="form-control" (change)="ReasonTextareaChange($event)"></textarea>
      <p *ngIf="ReasonTextErr != ''" class="text-danger">{{ReasonTextErr}}</p>
      <div class="row" style="position: relative;">
        <p *ngIf="FilterValue != ''" class="text-right col-md-12 save-icon">
          <i class="fa fa-save pointer" title="save" (click)="reasonSave()"></i>
        </p>
        <div *ngIf="FilterValue != ''" class="col-md-12 top-padding-20 table-container table-responsive" style="margin-bottom:50px;">
            <table id="addReason" class="table table-striped table-sm hover" datatable [dtOptions]="dtOptions">
                <thead>
                    <tr>
                        <th width="90%">Metric Name</th>
                        <th width="10%">Enable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let re of FilterValue; let i = index">
                        <td>{{re}}</td>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="AddReasonCheck{{i}}" (change)="selectMetric($event, i, re)">
                            <label class="custom-control-label" for="AddReasonCheck{{i}}"></label>
                          </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="FilterValue == ''" class="col-md-12 top-padding-20 table-container table-responsive" style="margin-bottom:50px;">
            <table class="table table-striped table-sm hover">
                <thead>
                    <tr>
                      <th width="90%">Metric Name</th>
                      <th width="10%">Enable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2" class="no-data"><i class="fa fa-cloud"></i> <br /> No data available</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="addPlant" role="tabpanel" aria-labelledby="add-plant-tab">
      <label>Plant Name</label>
      <textarea [ngClass]="{'error': PlantTextErrBol}" class="form-control" (change)="PlantTextareaChange($event)"></textarea>
      <p *ngIf="PlantTextErr != ''" class="text-danger">{{PlantTextErr}}</p>
      <br/>
      <label>Plant ID</label>
      <input [ngClass]="{'error': PlantIdNameErrBol}" class="form-control" (change)="PlantIdChange($event)"/>
      <p *ngIf="PlantIdNameErrBol" class="text-danger">{{PlantIdNameErr}}</p>
      <br/>
      <label>Domain</label>
      <select [ngClass]="{'error': PlantEmptyCheck != ''}" class="form-control" (change)="selectPlantMetric($event)">
        <option>Please select...</option>
        <option *ngFor="let rel of PlantDomain" [value]="rel">{{rel}}</option>
      </select>
      <p *ngIf="PlantEmptyCheck != ''" class="text-danger">{{PlantEmptyCheck}}</p>
      <br/>
      <div style="text-align: center;">
        <button class="btn btn-primary custom" type="button" (click)="PlantSave()">Save</button>
      </div>
    </div>
    <div class="tab-pane fade" id="enablePlant" role="tabpanel" aria-labelledby="add-plant-tab">
      <div class="row" style="position: relative;">
        <p *ngIf="PlantData != ''" class="text-right col-md-12 save-icon">
          <i class="fa fa-save pointer" title="save" (click)="enablePlantSave()"></i>
        </p>
        <div *ngIf="PlantData != ''" class="col-md-12 top-padding-20 table-container table-responsive" style="margin-bottom:50px;">
            <table id="plantList" class="table table-striped table-sm hover" datatable [dtOptions]="dtOptions">
                <thead>
                    <tr>
                      <th width="40%">Plant ID</th>
                      <th width="50%">Plant Name</th>
                      <th width="10%">Enable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pd of PlantData; let i = index">
                      <td>{{pd.plantId}}</td>
                      <td>{{pd.plantName}}</td>
                      <td>
                        <div class="custom-control custom-checkbox" *ngIf="pd.flag == 1">
                          <input type="checkbox" checked="true" class="custom-control-input" id="enablePlant{{i}}" (change)="enablePlant($event, i, pd)">
                          <label class="custom-control-label" for="enablePlant{{i}}"></label>
                        </div>
                        <div class="custom-control custom-checkbox" *ngIf="pd.flag == 0">
                          <input type="checkbox" class="custom-control-input" id="enablePlant{{i}}" (change)="enablePlant($event, i, pd)">
                          <label class="custom-control-label" for="enablePlant{{i}}"></label>
                        </div>
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal> 
  <p *ngIf="MessageSuccessModal != ''" class="alert alert-success" style="width: 100%;" role="alert">
    <span>{{MessageSuccessModal}}</span>
    <button type="button" class="close"	aria-label="Close" (click)="modal.dismiss()">
			<span aria-hidden="true">×</span> 
		</button>
  </p>
  <p *ngIf="MessageErrorModal != ''" class="alert alert-danger" style="width: 100%;">
    <span>{{MessageErrorModal}}</span>
    <button type="button" class="close"	aria-label="Close" (click)="modal.dismiss()">
			<span aria-hidden="true">×</span> 
		</button>
  </p>
</ng-template>
<button class="btn btn-lg btn-outline-primary" style="display: none;" id="openModal" (click)="open(content)"></button>
<common-spinner *ngIf="Loading"></common-spinner>