<div class="container-fluid">
    <h4 class="padding-20">Reason Corner</h4>
    <h6>Please update the reason code for the missed orders</h6>
    <form class="padding-20">
       
        <div class="row">
            <div class="col-md-3">
                <div class="col-md-12 form-row no-padding" style="padding-bottom: 6px;">
                    <div class="col-sm-3 col-form-label">
                        <label>Plant</label>
                    </div>
                    <div class="col-sm-9 no-padding">
                        <div class="col-md-12 no-padding">
                            <select class="form-control" ng-model="model" [ngClass]="{'error': PlantErr}" name (change)="selectChange($event,1)" ng-required="true">
                                <option value="" >Please Selct...</option>
                                <option [value]="options" *ngFor="let options of PlantFilter">{{options}}</option>
                            </select>
                        </div>
                        <div class="col-md-12 no-padding" *ngIf="PlantErr">
                            <span class="text-danger">Please select a value</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 form-row no-padding" style="padding-bottom: 6px;">
                    <div class="col-sm-3 col-form-label">
                        <label>Metric</label>
                    </div>
                    <div class="col-sm-9 no-padding">
                        <div class="col-md-12 no-padding">
                            <select class="form-control" (change)="selectChange($event,2)" [ngClass]="{'error': MetricErr}">
                                <option value="" >Please Selct...</option>
                                <option [value]="options.plantDomain" *ngFor="let options of MetricVal">{{options.metricName}}</option>
                            </select>
                        </div>
                        <div class="col-md-12 no-padding" *ngIf="MetricErr">
                            <span class="text-danger">Please select a value</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 form-row no-padding" style="padding-bottom: 6px;">
                    <div class="col-sm-3 col-form-label">
                        <label>Period</label>
                    </div>
                    <div class="col-sm-9 no-padding">
                        <div class="col-md-12 no-padding">
                            <select class="form-control" (change)="selectChange($event,3)" [ngClass]="{'error': PeriodErr}">
                                <option value="" >Please Selct...</option>
                                <option [value]="options.value" *ngFor="let options of PeriodVal">{{options.label}}</option>
                            </select>
                        </div>
                        <div class="col-md-12 no-padding" *ngIf="PeriodErr">
                            <span class="text-danger">Please select a value</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary custom" type="button" (click)="SubmitForm()">Display Missed Orders</button>
            </div>
        </div>
    </form>
    <div class="row">
        <p *ngIf="SaveMessage != ''" class="alert alert-success" role="alert"><strong>{{selectedRow.length}}</strong> {{SaveMessage}}</p>
        <p *ngIf="SaveMessageErr != ''" class="alert alert-danger" role="alert">{{SaveMessageErr}}</p>
        <p *ngIf="data" class="text-right col-md-12 save-icon">
            <i *ngIf="selectedRow == ''" aria-disabled="true" class="fa fa-save pointer disabled" title="save"></i>
            <i *ngIf="selectedRow != ''" class="fa fa-save pointer" title="save" (click)="reasonSave()"></i>
        </p>
        <div *ngIf="data" class="col-md-12 top-padding-20 table-container table-responsive" style="margin-bottom:50px;">
            <table id="missedOrders" class="table table-striped table-sm hover" datatable [dtOptions]="dtOptions">
                <thead>
                    <tr>
                        <th width="15%">Week</th>
                        <th width="10%">Resource</th>
                        <th width="10%">Material ID</th>
                        <th width="15%">Processed Order</th>
                        <th width="10%">Quantity</th>
                        <th width="15%">Due Date</th>
                        <th width="15%">Reason Code</th>
                        <th width="5%">Hit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dat of data; let i = index">
                        <td>{{WeekLabel}}</td>
                        <td>{{dat.resource}}</td>
                        <td>{{dat.materialId}}</td>
                        <td>{{dat.processOrder}}</td>
                        <td>{{dat.orderQuantity}}</td>
                        <td>{{dat.finishDateScheduled}}</td>
                        <td>
                            <select class="form-control" [value]="dat.reasonCodeId" id="select{{i}}" (change)="selectReason($event, i, dat)">
                                <option value="">Please select</option>
                                <option 
                                [attr.selected]="dat.reasonCodeId==resCd.reasonCodeId ? true : null"
                                [value]="resCd.reasonCodeId" *ngFor="let resCd of ReasonCode">{{resCd.reasonCode}}</option>
                            </select>
                        </td>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" [attr.checked]="dat.reasonCornerFlag ? true : null"
                                class="custom-control-input" id="check{{i}}" (change)="selectHit($event, i, dat)">
                                <label class="custom-control-label" for="check{{i}}"></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="data == null" class="col-md-12 top-padding-20 table-container table-responsive" style="margin-bottom:50px;">
            <table class="table table-striped table-sm hover">
                <thead>
                    <tr>
                        <th width="15%">Week</th>
                        <th width="10%">Resource</th>
                        <th width="10%">Material ID</th>
                        <th width="15%">Processed Order</th>
                        <th width="10%">Quantity</th>
                        <th width="15%">Due Date</th>
                        <th width="15%">Reason Code</th>
                        <th width="5%">Hit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="no-data"><i class="fa fa-cloud"></i> <br /> No data available</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #content let-modal> 
    <p *ngIf="MessageSuccessModal != ''" class="alert alert-success" style="width: 100%;" role="alert">
      <span>{{MessageSuccessModal}}</span>
      <button type="button" class="close"	aria-label="Close" (click)="modal.dismiss()">
              <span aria-hidden="true">×</span> 
          </button>
    </p>
    <p *ngIf="MessageErrorModal != ''" class="alert alert-danger" style="width: 100%;">
      <span>{{MessageErrorModal}}</span>
      <button type="button" class="close"	aria-label="Close" (click)="modal.dismiss()">
              <span aria-hidden="true">×</span> 
          </button>
    </p>
  </ng-template>
  <button class="btn btn-lg btn-outline-primary" style="display: none;" id="openModal" (click)="open(content)"></button>
  <common-spinner *ngIf="Loading"></common-spinner>