<head class="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#"><img src="../../assets/static/logo.png" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div class="user-block">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-user"></i> Hi User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
            <div class="nav-block">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/reasoncorner" routerLinkActive="active">Reason Corner</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/addreason" routerLinkActive="active">Add Reason</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/adduser" routerLinkActive="active">Add User</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/adduser" href="#" routerLinkActive="active">Power BI</a>
                    </li>   
                </ul> 
            </div>
        </div>  
      </nav>
</head>
